[Unit]
Description=My Node.js Application
After=network.target

[Service]
ExecStart=/usr/bin/node /home/ec2-user/CapstoneAWSNodeJs/app.js
Restart=always
User=ec2-user
Group=ec2-user
Environment=NODE_ENV=production
EnvironmentFile=/home/ec2-user/CapstoneAWSNodeJs/.env

[Install]
WantedBy=multi-user.target